@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.container {
  height: 90vh;
  justify-items: center;
  align-content: center;
}

#fontback {
  font-family: "inter", sans-serif;
  background-color: black;
  color: hsl(0, 0%, 100%);
  justify-items: center;
  padding: 20px;
  border-radius: 10px;
}

img {
  border-radius: 100px;
}

#fontback h1 {
  font-weight: 600;
  margin: 20px 0px 5px 0px;
}

#fontback h4 {
  font-size: 14px;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin: 0px 0px 20px 0px;
}

#fontback p {
  font-weight: 400;
  font-size: 14px;
}

button {
  width: 250px;
  height: 35px;
  margin: 10px;
  border-radius: 10px;
  border: solid 0px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  font-weight: 900;
  transition: background-color 0.5s;
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

.attribution {
  font-size: 10px;
  text-align: center;
  margin: 20px 0px 10px 0px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
